.referencias{
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  
  padding-top: 9rem;
  padding-bottom: 3rem;
  font-family: 'Merriweather Sans', sans-serif;
}
.referencia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  
  
}

.ref1{
  background: url("../img/ref\ 1.jpg");
}

.ref2{
  background-image: url("../img/ref\ 2.jpg");
}
.ref3{
  background-image: url("../img/ref\ 3.jpg");
}
.ref4{
  background-image: url("../img/ref\ 4.jpg");
}
.ref6{
  background-image: url("../img/ref\ 6.jpg");
}
.ref7{
  background-image: url("../img/ref\ 7.jpg");
}
.ref8{
  background-image: url("../img/ref\ 8.jpg");
}
.ref9{
  background-image: url("../img/ref\ 9.jpg");
}
.ref17{
  background-image: url("../img/ref\ 17.jpg");
}
.ref18{
  background-image: url("../img/ref\ 18.jpg");
}
.ref19{
  background-image: url("../img/ref\ 19.jpeg");
}
.ref20{
  background-image: url("../img/ref\ 20.jpg");
}
.ref22{
  background-image: url("../img/ref\ 22.jpg");
}
.ref44{
  background-image: url("../img/ref\ 44.jpg");
}
.ref46{
  background-image: url("../img/ref\ 46.jpg");
}
.ref47{
  background-image: url("../img/ref\ 47.jpg");
}
.ref48{
  background-image: url("../img/ref\ 48.jpg");
}
.ref4{
  background-image: url("../img/ref\ 4.jpg");
}

.ref__img{
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  border-radius: 1%;  
}
.ref__nombre{
  color: #000000;
  margin: 1rem 0;
  font-family: Pacifico, cursive;
  font-size: 2rem;
}
.ref__button{
  height: 70px;
  border: none;
  color:#FFD700;
  font-weight: bold;
  font-size: 30px;
  border-radius: 9px;
  background: #ffffff;
  padding-top: 0.5rem;  
  margin: 2rem;
}