
@media screen and (max-width: 720px) {
  
  .search input{
    display: none;
  }
  .header{
    justify-content: center;
    padding: 0 1rem;
  }
  nav > ul {
    background-color: blueviolet;
    flex-direction: column;
    position: fixed;
    left: 5px;
    top: 77px;
    height: 300px;
    width: 100%;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }
nav > ul > li > a:hover{
  transform: scale(1);
  
  }
nav ul li ul{
  left: 130px;
}
nav > ul > li:hover ul{
  top: 59px;
}

.ref__img{
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}
}