.header{
  font-family: 'Merriweather Sans', sans-serif;
  width: 100%;
  height: 77px;  
  background: #ffffff;
  display: flex; 
  align-items: center;
  justify-content: space-between;    
  position: fixed;
  left: 0;
  top: 0;  
  padding: 0px 100px;
}
.logo__header{
  width: 250px;
  height: 140px;
  margin-top: 50px;
}
.menu{
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
}
nav{
  height: 100%;
  
}
nav > ul{
  height: 100%;
  display: flex;
}
nav > ul > li{
  height: 100%;
  position: relative;
}

.links__header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  height: inherit;
  text-align: center;
  padding: 0px 10px;
  transition: all 300ms ease;
}
.links__header:hover{
  transform:scale(1.1);
  border-radius: 19px;
  
  box-shadow: inset 0px 0px 40px #000, 0px 0px 25px #000;
  background: #ffffff;
  
}

.social{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.social__img--facebook{
  background-image: url("../img/facebook.png");
}
.social__img--instagram{
  background-image: url("../img/instagram.png");
}
.social__img--whatsapp{
  background-image: url("../img/whatsapp.png");
}
.social__img{
  width: 50px;
  height: 50px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.links__header-redes{
  padding: 9px;
  place-items: center;
  font-family: "Soucer Sans Pro",sans-serif;
  color: white;
  font-size: 40px;
  border-radius: 10px;
  letter-spacing: 2px;
  box-shadow: inset 0px 0px 90px #000, 0px 0px 25px #000;
  margin-right: 20px;
  margin-left: 20px;
}


.referencias{
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  
  padding-top: 9rem;
  padding-bottom: 3rem;
  font-family: 'Merriweather Sans', sans-serif;
}
.referencia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  
  
}

.ref1{
  background: url("../img/ref1.jpg");
}
.ref2{
  background: url("../img/ref2.jpg");
}
.ref3{
  background: url("../img/ref3.jpg");
}
.ref4{
  background: url("../img/ref4.jpg");
}
.ref5{
  background: url("../img/ref5.jpg");
}
.ref6{
  background-image: url("../img/ref6.jpg");
}
.ref7{
  background-image: url("../img/ref7.jpg");
}
.ref8{
  background-image: url("../img/ref8.jpg");
}
.ref9{
  background-image: url("../img/ref9.jpg");
}
.ref10{
  background-image: url("../img/ref10.jpg");
}
.ref11{
  background-image: url("../img/ref11.jpg");
}
.ref__img{
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  border-radius: 1%;  
}
.ref__nombre{
  color: #000000;
  margin: 1rem 0;
  font-family: Pacifico, cursive;
  font-size: 2rem;
}
.ref__button{
  height: 70px;
  border: none;
  color:#FFD700;
  font-weight: bold;
  font-size: 30px;
  border-radius: 9px;
  background: #ffffff;
  padding-top: 0.5rem;  
  margin: 2rem;
}
/*Aquí debajo va el FOOTER*/

footer{
  width: 100%;
  padding: 50px 0px;
  background-image: url(../img/background-footer.svg);
  background-size: cover;
  
  
}

.container__footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.logo{
  margin: 0;
}

.box__footer .logo img{
  width: 180px;
 
}



.box__footer h2{
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a{
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover{
  opacity: 0.8;
}

.box__footer a .fab{
  font-size: 20px;
}

.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p{
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr{
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}
